# Предобработка данных. Часть 2. 
Цель исследования-определить какие факторы влияют на возврат кредита в срок (доход,семейное положение, наличие детей, цель кредита)
    
Для этого будет проведено исследование в несколько этапов:
    
1. Предобработка данных (поиск и удаление пропусков, обработка аномальных значений,обработка дубликатов)
2. Подготовка групп данных по семейному положению, доходу, цели, наличию детей для сравнительного анализа. Категоризация данных (целей кредита и дохода), разобъем на несколько сегментов эти факторы
3. Анализ данных (расчет по каждой категории средний % возвратов кредита в срок)
4. Вывод

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

 **В данных встречаются отрицательные значения в столбце с "трудовым стажем", в столбце "образование" указаны данные, записанные разными регистрами, в столбце "цель кредита" цели записаны разными формулировками, доход - вещественный тип данных, который требует перевод в целочисленный, есть пропущенные значения Nan. Поэтому следующим этапом буде предобработка этих данных.
**

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
#проверим данные по столбцам
#print(data.groupby('children')['debt'].count())

#в количестве детей встречается отрицательное значение (-1). Перевод значений в положительные:
data['children'] = data['children'].abs()

#встречается показатель 20 детей, в таблице те у кого 20 детей встречается 0 лет в столбце "возраст"
#не знаю какая ошибка произошла, замена медианным значением
#children_median = медианное значение в столбце 'children'

children_median = data.loc[data.loc[:, 'children'] != 20]['children'].median()
data['children'] = data['children'].replace(20, children_median)
#print(data.groupby('children')['debt'].count())

#расчет сколько всего брали кредит по категории 'children'
children_total = data.groupby('children')['debt'].count()

#создадим датафрейм, где:
#count_debt = общее число взятых кредитов
#sum_debt = сумма возвратов в срок
#credit_fail = % не вернувших кредит в срок
debt_children = pd.DataFrame()
debt_children['count_debt'] = data.groupby('children')['debt'].count()
debt_children['sum_debt'] = data.groupby('children')['debt'].sum()
debt_children['credit_fail'] = data.groupby('children')['debt'].mean().apply(lambda x: format(x, '.2%'))

debt_children

          count_debt  sum_debt credit_fail
children
0              14091      1063       7.54%
1               4808       444       9.23%
2               2052       194       9.45%
3                330        27       8.18%
4                 41         4       9.76%
5                  9         0       0.00%

In [23]:
data.groupby('children')['debt'].agg(['count', 'sum', 'mean'])

          count   sum      mean
children
0         14091  1063  0.075438
1          4808   444  0.092346
2          2052   194  0.094542
3           330    27  0.081818
4            41     4  0.097561
5             9     0  0.000000

<div class="alert-info" style="padding: 20px; border-radius: 10px">
<b>Комментарий студента 💎</b>
Исправленный код ниже:

In [24]:
#проверим данные по столбцам
#print(data.groupby('children')['debt'].count())

#в количестве детей встречается отрицательное значение (-1). Перевод значений в положительные:
data['children'] = data['children'].abs()

#встречается показатель 20 детей, в таблице те у кого 20 детей встречается 0 лет в столбце "возраст"
#не знаю какая ошибка произошла, замена медианным значением
#children_median = медианное значение в столбце 'children'
children_median = data.loc[data.loc[:, 'children'] != 20]['children'].median()
data['children'] = data['children'].replace(20, children_median)
#print(data.groupby('children')['debt'].count())

#Создадим таблицу, где в 1 колонке (count) число всех обращений,в колонке 2 (sum) число возвращенных кредитов в срок, в 3(mean) процент вовзартов
debt_children = pd.DataFrame()
debt_children = data.groupby('children')['debt'].agg(['count', 'sum', 'mean'])

#перевод значений в %
debt_children['mean'] = debt_children['mean'].apply(lambda x: format(x, '.2%'))
print(debt_children)

          count   sum   mean
children
0         14091  1063  7.54%
1          4808   444  9.23%
2          2052   194  9.45%
3           330    27  8.18%
4            41     4  9.76%
5             9     0  0.00%

**Вывод:**  Число детей влияет на возврат кредита в срок, но при этом так же стоит учитывать, что общее число выданных кредитов клиентам без детей значительно выше остальных, а значит по этой категории больше данных и выше точность выводов. Для сравнения, клиенты без детей берут кредит чаще, чем клиенты с 1 ребенком на 66%, и на 85% - чем клиенты с 2 детьми. 

По сравнению с клиентами с детьми, клиенты без детей, чаще возваращают кредит в срок. 
Реже всех возвращают в срок клиенты с 1-2 детьми. 
При этом клиенты с 3 детьми возвращают в срок в среднем на 1,2% чаще, чем клиенты с 1-2 ребенком (но при этом общая доля займов у банка среди клиентов с 3 детьми в среднем на 93% ниже, чем семей с 1 ребенком). 
Реже всех в срок возвращают клиенты с 4 детьми. 
Данных для анализа процента возврата клиентов с 5 детьми не достаточно для вывода.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [25]:
#проверим данные по столбцам
#print(data.groupby('family_status')['debt'].count().sort_values(ascending = True))

#ничего странного в данных не вижу, кроме верхнего регистра в строках "Не женат / не замужем", переведем все в нижний
data['family_status'] = data['family_status'].str.lower()

#создадим таблицу для анализа через pivot_table с сортировкой по статусу и числу взятых кредитов в каждой категории
family_debt_pivot = data.pivot_table(index = ['family_status'], values='debt', aggfunc = 'count')

#расчитаем процент значения возвратов и добавим новый столбец credit_fail с этими значениями 
family_debt_pivot['credit_fail'] = data.groupby('family_status')['debt'].sum() / data.groupby('family_status')['debt'].count()
family_debt_pivot['credit_fail'] = family_debt_pivot['credit_fail'].apply(lambda x: format(x, '.2%'))

family_debt_pivot = family_debt_pivot.sort_values(by=['debt'], ascending=False)

family_debt_pivot

                        debt credit_fail
family_status
женат / замужем        12261       7.56%
гражданский брак        4134       9.31%
не женат / не замужем   2796       9.76%
в разводе               1189       7.06%
вдовец / вдова           951       6.62%

**Вывод:** Категория клиентов в статусе "вдовец / вдова" чаще всех возвращают кредит в срок (6,62%), на 2м месте по возвратам кредита в срок - категория со статусом "в разводе"(7,06%). Реже всех возвращают в срок категория клиентов со статусом "гражданский брак", "не женат/ не замужем"(9,31% и 9,76% доля просроченных платежей соответсвенно). 

Но опять же общее число кредитованных в статусе "женат/замужем" почти в 3 раза выше, чем следующая по численности категория со статусом "гражданский брак"), а значит точность расчета процента возвратов по этой категории выше.

<div class="alert-info" style="padding: 20px; border-radius: 10px">
<b>Комментарий студента 💎</b>
Клиенты которые не состоят в официальном браке (в статусе "незамужем/неженат" либо находятся в гражданском браке) самые ненадежные заемщики.
Клиенты, которые уже брали на себя ответственность и вступили в официальный брак (и на данный момент овдовели, либо развелись), на 2.8% чаще погащают задолженнось в срок. Клиенты, которые на данный момент в браке ближе к категории ответственных заемщиков, но доля возвратов среди них на 1% ниже чем тех, кто овдовел или развелся.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [26]:
#проверка
#print(data.groupby('total_income_category')['debt'].count().sort_values(ascending = False))

#ничего странного в данных не вижу, создадим таблицу
income_debt_pivot = data.pivot_table(index = ['total_income_category'], values = 'debt', aggfunc = 'count')
income_debt_pivot.sort_values(by = 'debt', ascending = False)

#расчет процентного значения возвратов и создание нового столбца
income_debt_pivot['credit_fail'] = data.groupby('total_income_category')['debt'].sum() / data.groupby('total_income_category')['debt'].count()
income_debt_pivot['credit_fail'] = income_debt_pivot['credit_fail'].apply(lambda x: format(x, '.2%'))
    
income_debt_pivot = income_debt_pivot.sort_values(by=['credit_fail'], ascending=False)
income_debt_pivot

                        debt credit_fail
total_income_category
E                         22       9.09%
C                      15921       8.50%
A                         25       8.00%
B                       5014       7.06%
D                        349       6.02%

**Вывод:** Размер дохода влияет на процент вовзрата кредита в срок, но не в прямой пропорциональности. 
-Реже всех возвращает кредит в срок клиенты с доходом до 30 000 руб. и с доходом от 50 000 до 200 000 руб., но число кредитованных с доходом ниже 30 000 меньше в 723 раза, чем клиентов с доходом от 50 - 200 000, поэтому полностью сделать выводы по этой категории не пока не возможно.
-Самые ответсвенные заемщики - это клиенты с доходом до 50 000 руб., на втором месте по надежности - клиенты с доходом от 200 000 до 1 млн.руб

<div class="alert-info" style="padding: 20px; border-radius: 10px">
<b>Комментарий студента 💎</b>
Самыми распространенными группами заемщиков являются клиенты с доходом от 50 до 200 000 тысяч и от 200 000 тысяч до 1 млн. Из них более ответсвенными заемщиками являются клиенты с доходом от 200 000 до 1 млн. рублей. Они почти на 2% чаще гасят задолженность в срок.

(можно узнать твое личное мнение: в тренажере была задана категория от 50 до 200К, на сколько это правильно для анализа? средняя зп по Москве 111К, может быть и надо было разделить категорию от 50-200К еще на 2 категории: от 50-100К и от 100-200К)?

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [27]:
#проверка
#print(data.groupby('purpose_category')['debt'].count().sort_values(ascending = False))

#ничего странного в данных не вижу, создадим сводную таблицу pivot_table с колонками цель и долю возвратов
purpose_debt_pivot = data.pivot_table(index = ['purpose_category'], values = 'debt', aggfunc = ('mean', lambda X:
                                                                       X.count()))
def percent(x):
    return "{0:.2%}".format(x)

#перевод доли возвратов кредитов в % значения
purpose_debt_pivot['mean'] = purpose_debt_pivot['mean'].apply(percent)

#переименование столбцов
purpose_debt_pivot = purpose_debt_pivot.rename(columns={"<lambda_0>": "debt", "mean": "credit_fail"})
purpose_debt_pivot.sort_values(by = 'credit_fail', ascending = False)

                             debt credit_fail
purpose_category
операции с автомобилем     4279.0       9.35%
получение образования      3988.0       9.25%
проведение свадьбы         2313.0       7.91%
операции с недвижимостью  10751.0       7.26%

**Вывод:** На этот раз число данных по категориям не разнится так сильно, поэтому выводы можно делать более точно.
Всего 4 категории могут быть разделены на 2 группы по числу своих показателей
1. Самый высокая доля возврата кредитов у цели "операции с недвижимостью", немногим меньше кредиты с целью "проведение свадьбы"
2. Самая низкая вероятность возврата кредита в срок у займов с целью "операции с автомобилем" и "получение образования"

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Причины можно разделить на 2 категории
1. Человеческий фактор 
-в случае если данные заполняются вручную сотрудником оператором или менеджером по продажам, возникают ошибки при вводе, пропуск значений
-отказ от ответа на вопрос респондента (например при соц опросе)
-с каждой категории собираются разные данные (например, вопросы респондентам отличаются)
2. Технические, примеры:
-На сайте не все поля отмечены обязательными для ввода данных
-Ошибка при выгрузке данных
-Фрод
-Технические проблемы на сайте или в коде сайта

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:*  если заполнять пропуски средним значением переменной, то оно будет выше, чем реальная цифра. Так можно внести систематическую ошибку в анализ. А без заполнения пропусков анализ не будет полным.

### Шаг 4: общий вывод.

Можно выделить несколько категорий надежности заемщика
-Самым надежным клиентом будет заемщик без детей, либо с 3 детьми, статус "в разводе" или "замужем", доход либо до 50 000, либо больше 1 млн., который возьмет кредит с целью "проведения свадьбы" или для "операций с недвижимостью"
-Самым ненадежным заемщиком станет человек с 1-2, либо 4 детьми, с доходом до 30 000, либо от 50 000 до 200 000 руб, который находится в гражданском браке, либо не женат/не замужем, и который взял кредит с целью покупки автоили получения образования.

-Прежде всего первым определяющим фактором будет цель и доход заемщика. Кредиты взятые для свадьбы или покупки недвижимости заемщиками с доходом до 50 000 или больше 1 млн руб. 

-Второстепенными факторами являются семейное положение и число детей. Заемщики, которые состояли в браке (и сейчас в браке, разведены или овдовели), имеют 0 детей с большей вероятностью вернут кредит в срок.

** Цель анализа: определить какие факторы влияют на возврат кредита в срок.
 **Для анализа получен файл со статистикой платежеспособности клиентов, где дополнительно были указаны следующие данные по клиенту:
    -количество детей в семье
    -общий трудовой стаж в днях
    -возраст клиента в годах
    -уровень образования клиента
    -семейное положение
    -пол клиента
    -тип занятости
    -имел ли задолженность по возврату кредитов
    -ежемесячный доход
    -цель получения кредита

1. Этап предобработки данных
1.1 В файле обнаружены пропуски, дубликаты, аномальные значения в следующих столбцах:
    -трудовой стаж в днях
    -ежемесячный доход
    -дети
    -образование
В столбце "трудовой стаж" присутсвовало отрицательное количество дней, а так же у категории "пенсионеры" и "безработные" были аномально большие значения.Отрицательные значения были заменены на положительные, аномальные значения остались без изменений.

Пропущенные значения в столбце "ежемесячный доход" были заменены медианным значением в соответсвии с типом занятости (например, пропуск в доходе у клиента с типом занятости "сотрудник" был заменен на медианное значение ежемесячного дохода сотрудников). Вещественный тип данных был заменен на целочисленный.

В столбце "дети" встречались клиенты с -1 ребенком и 20 детьми. Отрицательные значения были заменены на положительные, а ячейки с "20" детьми были заменены на медианное значеня

В столбце "образование" одни и те же данные были записаны по-разному: иногда полностью строчными, иногда с заглавными буквами. Были заменены все буквы в значениях на строчные

Значения в столбце "цель получения кредита" были записаны в свободной форме, например одна категория была записана как "покупка жилья"/"покупка недвижимости"/"ремонт жилья"/"строительство недвижимости". Разница в формулировках не позволяля разбить цели по категориям для анализа. В итоге все записи были разбиты на 5 категорий: операции с недвидимостью, покупка автомобиля, проведение свадьбы, получение образования и добавлены в отдельный столбец "категория цели"

Значения в столбце "ежемесячный доход" были разбиты на 5 категорий в соответсвии с размером дохода: 
0–30 000 — 'E';
30 001–50 000 — 'D';
50 001–200 000 — 'C';
200 001–1 000 000 — 'B';
1 000 001 и выше — 'A'

1.2 Анализ данных
Для выявления зависимости погашения кредита в срок от семейного пложения, дохода, цели кредита и числа детей была проанализирована каждая категория
Была просчитана общая сумма всех взятых кредитов по каждой категории, число просроченных платежей, и процент возвратов от общего числа.

2. Вывод
Можно выделить несколько категорий надежности заемщика 
-Самым надежным клиентом будет заемщик без детей, статус "в разводе" или "вдова/вдовец", доход либо до 50 000, либо больше 1 млн., который возьмет кредит с целью "проведения свадьбы" или для "операций с недвижимостью" 
-Самым ненадежным заемщиком станет клиент с 1-2, либо 4 детьми, с доходом до 30 000, либо от 50 000 до 200 000 руб, который находится в гражданском браке, либо не женат/не замужем, и который взял кредит с целью покупки авто или для получения образования.

-Прежде всего первым определяющим фактором будет цель и доход заемщика. 
Размер дохода влияет на процент вовзрата кредита в срок, но не в прямой пропорциональности. Самыми распространенными группами заемщиков являются клиенты с доходом от 50 до 200 000 тысяч и от 200 000 тысяч до 1 млн. Из них более ответсвенными заемщиками являются клиенты с доходом от 200 000 до 1 млн. рублей. Они почти на 2% чаще гасят задолженность в срок.
Самый высокая доля возврата кредитов с целью "операции с недвижимостью", немногим меньше кредиты с целью "проведение свадьбы"
Самая низкая вероятность возврата кредита в срок у займов с целью "операции с автомобилем" и "получение образования"

-Второстепенными определяющим факторами являются семейное положение и число детей. 
Клиенты которые не состоят в официальном браке (в статусе "незамужем/неженат" либо находятся в гражданском браке) самые ненадежные заемщики. Клиенты, которые уже брали на себя ответственность и вступили в официальный брак (и на данный момент овдовели, либо развелись), на 2.8% чаще погащают задолженнось в срок. Клиенты, которые на данный момент в браке ближе к категории ответственных заемщиков, но доля возвратов среди них на 1% ниже чем тех, кто овдовел или развелся.
Клиенты без детей более надежный заемщик, так как они на 1,8% чаще клиентов с детьми гасят задолженность в срок
    
3. Рекомендации по улучшению сбора данных
Технические:
-Убрать свободную форму ввода цели кредитования и заменить на автоматический выбор сотрудником категории ("получение образования", "операции с недвижимостью","проведение свадьбы", "покупка авто"
-Ввод данных только строчными буквами
-Ввести прием данных только при полном заполнении всех полей о клиенте
    
Общие:
-Унифицировать систему ввода данных по трудовому стажу, для пенсионеров выбирать только категорию "пенсионер", а не "безработный". Указывать не общий стаж работы, а только тот стаж, что клиент имеет на нынешнем месте работы.